html {
  height: 100%;
}
body {
  margin: 0;
  overscroll-behavior-x: none;
  /* background: linear-gradient(
    to right,
    #dbdeff 0%,
    #eceeff 20%,
    #eceeff 80%,
    #dbdeff 100%
  ); */
}

* {
  outline: none;
}
